$text-col: white;
$text-col-sub-title: rgba(255, 255, 255, 0.651);

$gradient-one: #a1a1a1;
$gradient-two: #05112d;

$card-bg-col: #020b20;
$card-mini-bg-col: #292929eb;
$card-pollution-info-bg-col: #263e61e5;
$card-next-day-weekly-bg-col: #0c1a38;

$darken-per: 30%;

$btn-col: #4d4d4d;
$btn-col-active: #898989;

$air-pollution-col-good: #009966;
$air-pollution-col-moderate: #ffde33;
$air-pollution-col-unhealthy-sg: #ff9933;
$air-pollution-col-unhealthy: #cc0033;
$air-pollution-col-very-unhealthy: #660099;
$air-pollution-col-hazardous: #7e0023;

$border-col-one: grey;

$col-white: white;
$col-black: black;