@use "../base/colors" as colors;
@use "../base/sizing" as sizing;

@mixin mini-card {
    border-radius: sizing.$border-radius;
    background-color: colors.$card-mini-bg-col; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
}