<div class="pollution-info-child_container">                
    <!-- main header -->
    <div class="pollution-info-child_main-header">
        <div class="text-center">
            AQI	
        </div>
        <div class="text-center">
            Air Pollution Level
        </div>
        <div class="text-center">
            Health Implications
        </div>
        <div class="text-center">
            Cautionary Statement (for PM2.5)
        </div>
    </div>

    <!-- good quality -->
    <div class="pollution-info-child_main-row pollution-info-child_main-row--good">
        <div> 0 - 50 </div>
        <div> Good </div>
        <div> Air quality is considered satisfactory, and air pollution poses little or no risk	 </div>
        <div> None </div>
    </div>

    <!-- moderate quality -->
    <div class="pollution-info-child_main-row pollution-info-child_main-row--moderate">
        <div> 51 -100 </div>
        <div> Moderate </div>
        <div>
            Air quality is acceptable; however, for some pollutants there may be a moderate health concern 
            for a very small number of people who are unusually sensitive to air pollution.	
        </div>
        <div>
            Active children and adults, and people with respiratory disease, such as asthma, should limit prolonged outdoor exertion.
        </div>
    </div>

    <!-- unhealthy for specific groups -->
    <div class="pollution-info-child_main-row pollution-info-child_main-row--unhealthy-sg">
        <div> 101-150 </div>
        <div> Unhealthy for Sensitive Groups </div>
        <div> Members of sensitive groups may experience health effects. The general public is not likely to be affected. </div>
        <div> 
            Active children and adults, and people with respiratory disease, such as asthma, should limit prolonged outdoor exertion.
        </div>
    </div>

    <!-- unhealthy -->
    <div class="pollution-info-child_main-row pollution-info-child_main-row--unhealthy">
        <div> 151-200 </div>
        <div> Unhealthy </div>
        <div> Everyone may begin to experience health effects; members of sensitive groups may experience more serious health effects </div>
        <div> 
            Active children and adults, and people with respiratory disease, such as asthma, 
            should avoid prolonged outdoor exertion; everyone else, especially children, should limit prolonged outdoor exertion
        </div>
    </div>

    <!-- very unhealthy -->
    <div class="pollution-info-child_main-row pollution-info-child_main-row--very-unhealthy">
        <div> 201-300 </div>
        <div> Very Unhealthy </div>
        <div> Health warnings of emergency conditions. The entire population is more likely to be affected. </div>
        <div> 
            Active children and adults, and people with respiratory disease, such as asthma, 
            should avoid all outdoor exertion; everyone else, especially children, should limit outdoor exertion.
        </div>
    </div>

    <!-- hazardous -->
    <div class="pollution-info-child_main-row pollution-info-child_main-row--hazardous">
        <div> 300+ </div>
        <div> Hazardous </div>
        <div> Health alert: everyone may experience more serious health effects </div>
        <div> 
            Everyone should avoid all outdoor exertion
        </div>
    </div>
</div>