<div class="prac-01">
    <!-- header -->
    <div class="header-con">
        <div class="header-con__text-main">
            SCSS Prac 01
        </div>
    </div>

    <!-- btn content -->
    <div class="btn-con">
        <button class="btn-second">
            Red
        </button>
        <button class="btn-main">Green</button>
        <button class="btn-second">btn 2</button>
        <button class="bg-col-blue">Blue</button>
    </div>

    <button
        class="btn-con btn-main custom-text-col-green"
        style="margin-bottom: 25px;">
        normal
    </button>


    <div class="h1-test">
        This is font size one.
    </div>
</div>